<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/home" id="logo">Afro-Ship</a>
        <div id="mylinks">
            <p>Choose a country</p>
            <a href="/orders/new">Congo Brazzaville</a>
            <a href="/orders/new">France</a>
            <a href="/orders/new">Canada</a>
        </div>   
    </header>
    <a href="/orders">My orders</a>
</body>
</html>