<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new order</title>
</head>
<body>
    <form action="">
        <input type="text" placeholder="product Name" name="productName">
        <input type="text" placeholder="Address To" name="toAddress">
        <input type="text" placeholder="Country To" name="toCountry">
        <input type="text" placeholder="City To" name="toCity"> 
        <input type="text" placeholder="Address From" name="fromAddress">
        <input type="text" placeholder="Country from" name="formCountry">
        <input type="text" placeholder="City from" name="fromCity">
        <input type="text" placeholder="Weight" name="weight">
        <input type="text" placeholder="Product value" name="productValue">
        <input type="text" placeholder="Receiver Name" name="receiverName">
        <input type="number" placeholder="Receiver Phone Number" name="receiverPhoneNumber">
        <input type="text" placeholder="Sender Name" name="senderName">
        <input type="number" placeholder="Sender Phone Numver" name="senderPhoneNumber">
        <input type="text" placeholder="Date" name="date">
        <p>Shipping method</p><input type="radio" name="shippingType" value="plane">plane
        <input type="radio" name="shippingType" value="ocean">ocean
        <p>Product type</p>
        <input type="radio" name="productType" value="clothes">clothes
        <input type="radio" name="productType" value="ceramics">ceramics
        <input type="radio" name="productType" value="phones">phones <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>